
*{
    margin: 0;
    box-sizing: border-box;
  /*--primary-color: #2f2259;
  --secondary-color: #990aff;
  --accent1-color: #d1c9f8; */
}

html {
  background-color: indigo;
}

ol {
  text-align: left;
  padding: 1.5em;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #d1c9f8;
  padding: 1em;
  text-align: center;
}
main {
  margin: 1.5em auto;
  text-align: center;
}

.social img {
  max-width: 30px;
  max-height: 30px;
}

#siteName, #newRelease, #event, #weather {
  padding: 0;
  position: relative;
}

#siteName {
  background-color: black;
}

#siteName h3{
  position: absolute;
  top: 8px;
  right: 16px;
  font-family: 'Parisienne', cursive;
  font-size: 5vw;
  color: white;
}

#siteName img {
  display: block;
  width:100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  border-radius: 10px;
}

#siteName div {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 2.5vw;
  color: white;
  border: 1px solid black;
  padding: 1em;
  border-radius: 15pt;
  background: rgba(153, 10, 255, 0.2);
}

#newRelease h3 {
  position: absolute;
  top: 10%;
  width: 100%;
  font-size: 36px;
  font-family: 'Parisienne', cursive;
}

#newRelease p {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: black;
  object-fit: contain;
}

#newRelease img {
  display: block;
  width:100%;
  border-radius: 10px;
  opacity: 0.2;
}

#event {
  background-color: black;
}

#event h3 {
  position: absolute;
  top: 55%;
  width: 100%;
  font-size: 7.5vw;
  font-family: 'Parisienne', cursive;
  color: white;
}

#event p {
  position: absolute;
  top: 68%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  object-fit: contain;
}

#event img {
  display: block;
  width:100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  border-radius: 10px;
  opacity: 0.8;
}

#weather h3 {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 100%;
  font-size: 36px;
  font-family: 'Parisienne', cursive;
  color: black;
}

#weather img {
  width:50%;
  border-radius: 10px;
}

.windChill {
  position: absolute;
  bottom: 10%;
}

.input label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: .25em;
  
}

.spotlight {
  background-color: #d1c9f8;
  border: 1px solid black;
}

.spotlight3 {
  display: none;
}

.spotlight h3 {
  padding: 1em;
}

#spotlights img {
  width: 50%;
  height: auto;
  float: right;
  border-radius: 100%;
  padding: 1em;
}

#banner {
  display: none;
  margin: 0 auto;
  border: 1px solid indigo;
  padding: 1.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 15pt;
}

#join {
  display: none;
  background-color: black;
}

h1 {
    font-size: 30pt;
    font-family:'Parisienne', cursive;
}

h2 {
    font-family:'Ubuntu', sans-serif;
}

h4 {
  font-family:'Parisienne', cursive;
  font-size: 18pt;
}
h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
}

header, footer {
    padding: 1.5rem;
    background-color: indigo;
    text-align: center;
    color: white;
}

header {
  display: flex;
  justify-content: space-around;

}

header img {
  width: 100px;
  height: auto;
  border-radius: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Ubuntu', sans-serif;
  padding: 1em;
}

.date {
  padding: 1em;
  margin-bottom: 1.5em;
  background-color:#990aff; 
  color: white;
  font-size: 18pt;
  font-family: 'Parisienne', cursive;
}
section {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 5px 5px 5px #999;
}

#businessInfo img {
  border-radius: 100%;
}

nav button {
  margin: .2rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

nav ul{
  padding: 0;
  margin: 1em;
  list-style: none;
  background-color:#990aff; 
  font-family: 'Parisienne', cursive;
}

a:link { text-decoration: none; }
nav a:hover {
  color: #2f2259;
  background-image: radial-gradient(white, #d1c9f8, #990aff);
  border-radius: 10pt;
}

nav ul li a {
  display: block;
  color: white; 
  font-size: 26px;  
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

nav ul {display: none;}
nav ul.open {display: block;}



#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* discover page css */

#images {
  display: grid;
  text-align: center;
  width: 100%;
}

#images section {
  padding: 25px 50px;
  margin: 2em;
  background-color: #2f2259;
  color: white;
}

#images picture {
  border: 1em solid white;
  box-shadow: 5px 5px 5px #999;
  background: white;
}

/* ------------------ FORM -------------------- */

form {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    display: inline-block;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: blokc;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: .75 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: indigo;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/* ------------- thankyou.html ------------------ */

.thanks {
  text-align: center;
}

.thanks h2 {
  font-family: 'Parisienne', cursive;
  font-size: 46pt;
}

.thanks p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18pt;
  line-height: 0;
}


