
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /*--primary-color: #2f2259;
  --secondary-color: #990aff;
  --accent1-color: #d1c9f8; */
}

html {
  background-color: indigo;
}


ol {
  text-align: left;
  padding: 1.5em;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #d1c9f8;
  padding: 1em;
  text-align: center;
}
main {
  margin: 1.5em auto;
}

.social img {
  max-width: 30px;
  max-height: 30px;
}

#siteName, #newRelease, #event, #weather {
  padding: 0;
  position: relative;
  text-align: center;
}

#siteName h3{
  position: absolute;
  top: 8px;
  right: 16px;
  font-family: 'Parisienne', cursive;
  font-size: 5vw;
  color: white;
}

#siteName img {
  display: block;
  width:100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  border-radius: 10px;
}

#siteName div {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 2.5vw;
  color: white;
  border: 1px solid black;
  padding: 1em;
  border-radius: 15pt;
  background: rgba(153, 10, 255, 0.2);
}

#newRelease h3 {
  position: absolute;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-family: 'Parisienne', cursive;
  color: black;
}

#newRelease p {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: black;
  object-fit: contain;
}

#newRelease img {
  display: block;
  width:100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  border-radius: 10px;
  opacity: 0.2;
}

#event h3 {
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
  font-size: 7.5vw;
  font-family: 'Parisienne', cursive;
  color: white;
}

#event p {
  position: absolute;
  top: 68%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  object-fit: contain;
}

#event img {
  display: block;
  width:100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  border-radius: 10px;
  opacity: 0.8;
}

#weather h3 {
  width: 100%;
  font-size: 36px;
  font-family: 'Parisienne', cursive;
  color: black;
}

#weather img {
  display: block;
  width:100%;
  height: auto;
  object-fit: contain;
  padding: 30px;
  border-radius: 10px;
}

#spotlights {
  text-align: center;
}

#spotlights img {
  width: 30%;
  height: auto;
  float: right;
  border-radius: 100%;
  padding: 0;
}

.spotlight3 img {
  float: center;
}

.spotlight1, .spotlight2, .spotlight3 {
  background-color: #d1c9f8;
}

.spotlight3 {
  display: none;
}

#banner {
  display: block;
  margin: 0 auto;
  border: 1px solid indigo;
  padding: 1.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 15pt;
}

#join {
  display: none;
}

section div {
  border:  1px solid black;
}

h1 {
    font-size: 30pt;
    font-family:'Parisienne', cursive;
}

h2 {
    font-family:'Ubuntu', sans-serif;
}

h3 {
    font-family:'Ubuntu', sans-serif;
    font-size: 18pt;
    padding: 0.25em;
}

h4 {
  font-family:'Parisienne', cursive;
  font-size: 18pt;
}
h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
}

header, footer {
    border: 1px solid black;
    padding: 1.5rem;
    background-color: indigo;
    text-align: center;
    color: white;
}

header {
  display: flex;
  align-content: center;
  justify-content: space-around;

}

header img {
  width: 80px;
  height: auto;
  border-radius: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Ubuntu', sans-serif;
  padding: 1em;
}

.date {
  padding: 1em;
  margin-bottom: 2em;
  background-color:#990aff; 
  color: white;
  font-size: 18pt;
  font-family: 'Parisienne', cursive;
}
section {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 0;
    text-align: left;
    box-shadow: 5px 5px 5px #999;
}

#businessInfo img {
  border-radius: 100%;
}

nav button {
  margin: .2rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

nav {
  padding: 0;
  margin: 0;
  border-radius: 0.25em;
}

nav ul{
  padding: 0;
  margin: 1em;
  list-style: none;
  background-color:#990aff; 
  font-family: 'Parisienne', cursive;
}

nav a {
  color: white; 
  font-size: 26px;
}
a:link { text-decoration: none; }
nav a:hover {
  color: #2f2259;
  background-image: radial-gradient(white, #d1c9f8, #990aff);
  border-radius: 10pt;
}


nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}



#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}



