* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: #f7eede;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

}
h1, h2, h3 {
    font-family: 'Berkshire Swash', cursive;
}

p {
    padding: 1em;
    font-family: 'Inter', sans-serif;
    color: #0e2207;
}

a {
  color: #0e2207
}

/* ---Colors--- */
/* Text: #0e2207  Main: #ebcac1 Accent: #cbdfbd Background: #f7eede*/

/* -----------Header/Footer------------- */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ebcac1;
    width: 100%;
    padding: 0.5em;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebcac1;
    width: 100%;
    padding: 0.5em;
    margin: 0 auto;
    color:#0e2207
}

footer p {
    margin: 0;
    padding: 0.05em;
}

header img.logo {
    padding: 0.5em 0.5em 0.5em 1.5em;
    min-width: 45px;
}

header h1 {
    font-size: 5vw;
    flex-basis: 100%;
}

footer h2 {
    font-size: 12pt;
    flex-basis: 100%;
    padding: 0.35em;
}

footer img.logo {
    width: 40px;
    height: auto;
}

.social {
    width: 18%;
    padding: 1em;
    text-align: center;

}

.social img {
    max-width: 35%;
    min-width: 30px;
}



  /* ----Hamburger Button */

        /* button */

  .menuBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  .menuBtn-burger {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0e2207;
    transition: all .5s ease-in-out;
  }

  .menuBtn-burger::before, .menuBtn-burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0e2207;
    transition: all .5s ease-in-out;
  }

  .menuBtn-burger::before {
    transform: translateY(-10px);
  }
  .menuBtn-burger::after {
    transform: translateY(10px);
  }

        /* menu Animation*/

  .menuBtn.open .menuBtn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menuBtn.open .menuBtn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    box-shadow: none;
    background: #0e2207;
  }

  .menuBtn.open .menuBtn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    box-shadow: none;
    background: #0e2207;
  }


        /* menu */
  
  nav ul{
    padding: 1em;
    list-style: none;
    background-color: rgb(203, 223, 189, 0.75); 
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
  }
  
  a:link { text-decoration: none; }
  nav a:hover {
    color: white;
  }
  
  nav ul li a {
    color: #0e2207; 
    font-size: 18px; 
  }

 
  
  nav ul {display: none;}
  nav ul.open {
    display: block;
    width: 100%;
  }


    


  /* -------------Homepage---------------- */

h2 {
    text-align: center;
}

.hero img {
    width: 80%;
    height: auto;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #0e2207;
}

        /* image hover caption */

figure {
  display: flex;
  padding: 2em;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}


  .overlay {
    position: absolute; 
    bottom: 65px; 
    background: rgb(203, 223, 189, 0.75) ;
    color: rgb(14, 34, 7); 
    width: 70%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    padding: 5px;
    text-align: center;
  }

  figure:hover .overlay {
    opacity: 1;
  }

        /* Call to Action */

  .cta img {
    width: 100%;
    height: auto;
  }

  .cta {
    position: relative;
  }

  .cta a {
    position: absolute;
    bottom: 20px;
    left: 80px;
    font-size: 12pt;
    color: #0e2207;
    border: 1px solid black;
    padding: 1em;
    border-radius: 15pt;
    background: rgba(203, 223, 189, 0.75);
  }

      /* Weather */

  #currWeather, #threeDayForcast {
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   background-color: white;
   border: 1px solid black;
   border-radius: 1em;
   margin: 1em;
   text-align: center;
   padding: 0.5em;
  }

  .fcBlock {    
    background-color: white;
    border: 1px solid black;
    border-radius: 1em;
    margin: 0.5em;
    width: 100%;
    height: auto;
  }

  #currWeather figure {
    display: flex;
    flex-direction: column;
  }

  .today {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5em;
  }

