* {
    margin: 0;
    box-sizing: border-box;
}


html {
    background-color: #f7eede;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

}
h1, h2, h3 {
    font-family: 'Berkshire Swash', cursive;
}

p {
    padding: 1em;
    font-family: 'Inter', sans-serif;
    color: #0e2207;
}

/* ---Colors--- */
/* Text: #0e2207  Main: #ebcac1 Accent: #cbdfbd Background: #f7eede*/

/* -----------Header/Footer------------- */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ebcac1;
    width: 100%;
    padding: 0.5em;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebcac1;
    width: 100%;
    padding: 0.5em;
    margin: 0 auto;
    color:#0e2207
}

footer p {
    margin: 0;
    padding: 0.05em;
}

header img.logo {
    width: 20%;
    height: auto;
    padding: 0.5em 0.5em 0.5em 1.5em;
    min-width: 45px;
}

header h1 {
    font-size: 5vw;
    flex-basis: 100%;
}

footer h2 {
    font-size: 12pt;
    flex-basis: 100%;
    padding: 0.35em;
}

footer img.logo {
    width: 40px;
    height: auto;
}

.social {
    width: 18%;
    padding: 1em;
    text-align: center;

}

.social img {
    max-width: 35%;
    max-height: auto;
    min-width: 20px;
}



  /* ----Hamburger Button */

        /* button */

  nav button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    align-self: center;
    padding-right: 1em;
  }

  .menuBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  .menuBtn-burger {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0e2207;
    transition: all .5s ease-in-out;
  }

  .menuBtn::before, .menuBtn::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0e2207;
    transition: all .5s ease-in-out;
  }

  .menuBtn::before {
    transform: translateY(-10px);
  }
  .menuBtn::after {
    transform: translateY(10px);
  }

        /* menu Animation*/

  .menuBtn.open .menuBtn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menuBtn.open .menuBtn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menuBtn.open .menuBtn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }


        /* menu */
  
  nav ul{
    padding: 1em;
    margin: .5em;
    list-style: none;
    background-color: #cbdfbd; 
    font-family: 'Berkshire Swash', cursive;
  }
  
  a:link { text-decoration: none; }
  nav a:hover {
    color: white;
  }
  
  nav ul li a {
    display: block;
    color: #0e2207; 
    font-size: 26px; 
  }

  nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #0e2207;
  }
  
  nav ul {display: none;}
  nav ul.open {display: block;}
    
  #hamburgerBtn span:nth-child(1) {display: block;}
  #hamburgerBtn span:nth-child(2) {display: none;}
  
  #hamburgerBtn.open span:nth-child(1) {display: none;}
  #hamburgerBtn.open span:nth-child(2) {display: block;}

  /* -------------Homepage---------------- */

.templeSummary h2 {
    text-align: center;
}

.templeSummary figure img {
    width: 80%;
    height: auto;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #0e2207;
}

        /* image hover caption */

figure {
    padding: 2em;
    position: relative;
    width: 100%;
    text-align: center;
  }

  .overlay {
    position: absolute; 
    bottom: 50px; 
    background: rgb(203, 223, 189, 0.75) ;
    color: rgb(14, 34, 7); 
    width: 90%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    padding: 20px;
  }

  figure:hover .overlay {
    opacity: 1;
  }

  .cta img {
    width: 100%;
    height: auto;
  }
