* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: #f7eede;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

}
h1, h2, h3 {
    font-family: 'Berkshire Swash', cursive;
}

p {
    padding: 0.5em;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #0e2207;
}

a {
  color: #0e2207
}

/* ---Colors--- */
/* Text: #0e2207  Main: #ebcac1 Accent: #cbdfbd Background: #f7eede*/

/* -----------Header/Footer------------- */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ebcac1;
    width: 100%;
    padding: 0.5em;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebcac1;
    width: 100%;
    padding: 0.5em;
    margin: 0 auto;
    color:#0e2207
}

footer p {
    margin: 0;
    padding: 0.05em;
}

header img.logo {
    padding: 0.5em 0.5em 0.5em 1.5em;
    min-width: 45px;
}

header h1 {
    font-size: 5vw;
    flex-basis: 100%;
}

footer h2 {
    font-size: 12pt;
    flex-basis: 100%;
    padding: 0.35em;
}

footer img.logo {
    width: 40px;
    height: auto;
}

.social {
    width: 18%;
    padding: 1em;
    text-align: center;

}

.social img {
    max-width: 35%;
    min-width: 30px;
}



  /* ----Hamburger Button */

        /* button */

  .menuBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 2em;
  }

  .menuBtn-burger {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0e2207;
    transition: all .5s ease-in-out;
  }

  .menuBtn-burger::before, .menuBtn-burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0e2207;
    transition: all .5s ease-in-out;
  }

  .menuBtn-burger::before {
    transform: translateY(-10px);
  }
  .menuBtn-burger::after {
    transform: translateY(10px);
  }

        /* menu Animation*/

  .menuBtn.open .menuBtn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menuBtn.open .menuBtn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    box-shadow: none;
    background: #0e2207;
  }

  .menuBtn.open .menuBtn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    box-shadow: none;
    background: #0e2207;
  }


        /* menu */
  
  nav ul{
    padding: 1em;
    list-style: none;
    background-color: #cbdfbd; 
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
  }
  
  a:link { text-decoration: none; }
  nav a:hover {
    color: white;
  }
  
  nav ul li a {
    color: #0e2207; 
    font-size: 18px; 
  }

 
  
  nav ul {display: none;}
  nav ul.open {
    display: block;
    width: 100%;
  }


    


  /* -------------Homepage---------------- */

h2 {
    text-align: center;
}

.hero img {
    width: 80%;
    height: auto;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #0e2207;
}

        /* image hover caption */

#home figure {
  display: flex;
  padding: 2em;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}


  .overlay {
    position: absolute; 
    bottom: 65px; 
    background: rgba(203, 223, 189, 0.75) ;
    color: rgb(14, 34, 7); 
    width: 70%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    padding: 5px;
    text-align: center;
  }

  figure:hover .overlay {
    opacity: 1;
  }

        /* Call to Action */

  .cta img {
    width: 100%;
    height: auto;
  }

  .cta {
    position: relative;
  }

  .cta a {
    position: absolute;
    bottom: 20px;
    left: 80px;
    font-size: 12pt;
    color: #0e2207;
    border: 1px solid black;
    padding: 1em;
    border-radius: 15pt;
    background: #cbdfbd;
  }

      /* Weather */

  #currWeather, #threeDayForcast, .fcBlock {
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   background-color: white;
   border: 1px solid black;
   border-radius: 1em;
   margin: 1em;
   text-align: center;
   padding: 0.5em;
  }

  .fcBlock { 
    margin: 0.5em;
    width: 100%;
    height: auto;
  }

  #weather-icon {
    width: 10em;
  }

  #w-icon1, #w-icon2, #w-icon3 {
    width: 5em;
  }

  #currWeather figure {
    display: flex;
    flex-direction: column;
  }

  .today, .day1, .day2, .day3 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5em;
  }

/* ----------------------- Temple Page ---------------------- */

.templeCards section {
  border: 1px solid black;
  background-color: #ffffff;
  max-width: 400px;
  margin: 0.5rem;
  padding: 1.5rem;
}

.templeCards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#templePage h2 {
  font-size: 32pt;
  flex-basis: 100%;
}

.templeCards img {
  width: 300px;
  box-shadow: 10px 10px #cbdfbd;
}

/* -----------Revervation Page------------ */

#reservationPage h2, #servicesPage h2 {
  padding: 1em 0.5em 0.5em;
  font-size: 20pt;
}

form {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 5px;
  border-radius: 2%;
  text-align: center;
}

form fieldset {
  border: 1px solid #0e2207;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: #0e2207;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #0e2207;
}

form label.top input, form label.top select, select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .5rem;
  color: #555;
  width: 50%;
  max-width: 20rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
  margin-right: 1em;
}

textarea {
  max-width: 90%;
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #0e2207;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 60%;
  max-width: 20rem;
}

form label.top input:required {
  border: red solid 1px;
}

form label.top input:required:valid {
  border: green solid 1px;
}

.default {
  color: red;
}

textarea, .date {
  padding: 0.5em;
}

/* ------------- thankyou.html ------------------ */

.thanks {
text-align: center;
padding: 2em;
}

.thanks h2 {
font-family: 'Berkshire Swash', cursive;
font-size: 46pt;
}

.thanks p {
font-family: 'Inter', sans-serif;
font-size: 18pt;
line-height: 0;
}

/* -----------Services Page---------- */
.lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em 1em;
}

.lists ul li:nth-child(1) {
  list-style: none;
  padding: 0.75em;
  font-size: larger;
}

.lists ul {
  padding: 0.5em;
}

#subPages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.subPage {
  position: relative;
  margin: 2em;
}

.subPage img {
  display: block;
  width: 100%;
  height: auto;
}

.fullOverlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(203, 223, 189, 0.5);
}

.text {
  color: #0e2207;
  font-size: 1.5em;
  font-family: 'Berkshire Swash', cursive;
  padding: 1em;
  text-align: center;
}

.subPage:hover .fullOverlay {
  opacity: 1;
}

/* ------------------subpages------------- */

#missionarySubpage {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.desc {
  width: 400px;
  padding: 1em;
}

.pic {
  margin: 1em;  
  border: 4px solid #cbdfbd;
}