
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /*--primary-color: #2f2259;
  --secondary-color: #990aff;
  --accent1-color: #d1c9f8; */


}

html {
  background-color: indigo;
}

body {
  max-width: 700px;
  margin: 0 auto;
  background-color: #d1c9f8;
  padding: 1em;
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 100%;
}

h1 {
    font-size: 30pt;
    font-family:'Parisienne', cursive;

}
h2 {
    font-family:'Ubuntu', sans-serif;
}

h3 {
    font-family:'Parisienne', cursive;
    font-size: 24pt;
}
h4 {
  font-family:'Parisienne', cursive;
  font-size: 18pt;
}
h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

header, footer {
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1.5rem;
    background-color: indigo;
    text-align: center;
    color: white;
}

p {
  font-family: 'Ubuntu', sans-serif;
  padding: 1em;
}

section {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem;
}
table {
    border: 1px solid black;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: black;
  color: white;
  
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: indigo;
  color: white;
}
.secondary {
  background-color: #990aff;
  color: white;
}
.accent1 {
  background-color: #d1c9f8;
}


